<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/munisaazimkhodjaeva/IntelliJ IDEA/Java_Programming/Selenium10/src/main/java/org/example">
        <classes><class name="org.example.ExampleTestNG2">
            <methods>
                <include name="example1"/>
                <exclude name="example2"/>
            </methods>
        </class>
            <class name="org.example.exampleTestNG">
                <methods>
                    <include name="Demo"/>
                    <include name="Hi"/>
                </methods>
            </class>
            <class name="org.example.ExampleTestNG3">
                <methods>
                    <include name="Show"/>
                    <include name="Mobile.*"/>
                    <exclude name="Mobile.*"/>
                </methods>
            </class>
            <class name="newPackage.ExampleTestNG4">
                <methods>
                    <exclude name="testNG"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="/Users/munisaazimkhodjaeva/IntelliJ IDEA/Java_Programming/Selenium10/src/main/java/newPackage">
        <classes>
            <class name="newPackage.ExampleTestNG4">
                <methods>
                    <include name="testNG"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

