<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/munisaazimkhodjaeva/IntelliJ IDEA/Java_Programming/Selenium14/src/test/java/TC1.java">
        <classes>
            <class name="TC1"></class>
        </classes>
</test>
    <test name="/Users/munisaazimkhodjaeva/IntelliJ IDEA/Java_Programming/Selenium14/src/test/java/RunNonValidTests.java">
        <classes>
            <class name="RunNonValidTests"></class>
        </classes>
    </test>
    <test name="/Users/munisaazimkhodjaeva/IntelliJ IDEA/Java_Programming/Selenium14/src/test/java/TC2.java">
        <classes>
            <class name="TC2"/>
        </classes>
    </test>
</suite>